<ol>
  <% @bids.each do | bid |%>
    <li>
      <div><b><h3><%=link_to job_bidder(bid).username.capitalize, user_path(job_bidder(bid).id)%> bid $<%=bid.bid_amount%></b></h3><%=bid.comment%> </div>
      <br>
    </li>
  <%end%>
</ol>
